.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Garante que fica por cima de tudo */
}

.modal {
    background-color: #E0E0E0;
    padding: 3rem;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; /* Espaçamento ajustado */
}

.texto {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.timer {
    font-size: 3.5rem;
    font-weight: bold;
    color: #a56767; /* Cor avermelhada para urgência */
    margin: 0;
}

.botaoSim {
    border: none;
    padding: 1.5rem 5rem; /* Padding aumentado para um botão maior */
    font-size: 2rem; /* Tamanho da fonte aumentado */
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    background-color: #6a9595;
    color: white;
    transition: transform 0.2s;
    margin-top: 1rem;
}

.botaoSim:hover {
    transform: scale(1.05);
}
