.keyboardContainer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 98%; 
    max-width: 1200px; 
    background-color: #CFB680;
    padding: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    box-sizing: border-box;
    border: 3px solid #333;
    border-radius: 20px; 
    border-radius: 20px; 
}

.keyboard {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.keyboardRow {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.key {
    background-color: #ffffff;
    border: 1px solid #b2b2b2;
    border-radius: 8px;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 70px;
    transition: background-color 0.2s, transform 0.1s;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.key:active {
    transform: scale(0.95);
    background-color: #e0e0e0;
}

.specialKey {
    background-color: #adb5bd;
    flex-grow: 1.5;
    font-size: 1.2rem;
}

.spaceKey {
    flex-grow: 8;
}

.activeKey {
    background-color: #6a9595;
    color: white;
}
